@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap");
/*11.2px*/
/*11.2px*/
/*12.8px*/
/*14.4px*/
/*17,6px*/
/*19,2px*/
/*20.8px*/
button {
  border: 0;
  padding: 0;
}

body {
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
}

@media (min-width: 320px) {
  .mobile-main-nav {
    background-color: #212328;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }
  .mobile-main-nav--menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 4rem;
  }
  .mobile-main-nav--item:not(:nth-child(5)) {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1.4rem;
  }
  .mobile-main-nav--item:not(:nth-child(5)) img {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .mobile-main-nav--link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
    -webkit-transition: margin-top 0.3s ease-in-out;
    transition: margin-top 0.3s ease-in-out;
  }
  .mobile-main-nav--link span {
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
  .mobile-main-nav--link:hover {
    margin-top: 0rem;
  }
  .mobile-main-nav--link:hover span {
    opacity: 1;
  }
  .mobile-main-nav li:nth-child(5) {
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0px -26px 40px -28px #42445a;
    box-shadow: 0px -26px 40px -28px #42445a;
  }
  .mobile-main-nav li:nth-child(5) a {
    margin-top: 0;
    color: black;
    position: absolute;
    top: -1rem;
    width: 4rem;
    height: 4rem;
    line-height: 4.2rem;
    border-radius: 4rem;
    text-align: center;
    font-weight: 800;
    font-size: 0.9rem;
    background-color: #fff;
  }
  .mobile-main-nav li:nth-child(5) a img {
    height: 1.25rem;
    padding-top: 1.5rem;
  }
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 750px) {
  nav.mobile-main-nav {
    display: none;
  }
  header.c_header {
    min-height: 3.75rem;
    background-color: #212328;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2.81rem;
    /* Left site main_nav */
    /* Right site main_nav */
  }
  header.c_header .c_header--left,
  header.c_header .c_header--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50vw;
  }
  header.c_header .main-logo {
    max-height: 1.25rem;
    max-width: 1.25rem;
  }
  header.c_header .main_nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header.c_header .main-nav--item {
    margin-right: 2rem;
  }
  header.c_header .main_nav--link {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    margin-right: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.c_header .main_nav--link:first-child {
    margin-left: 2rem;
  }
  header.c_header .is-hover::after {
    content: "";
    position: absolute;
    bottom: -0.25rem;
    height: 2px;
    width: 100%;
    background: #fff;
    -webkit-transition: content 0.5s ease-in-out;
    transition: content 0.5s ease-in-out;
  }
  header.c_header .search_main > form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.c_header .search_main > form > input {
    width: 17.5rem;
    height: 50px;
    border: 0;
    padding: 0;
    padding-left: 2rem;
    border-radius: 2rem 0 0 2rem;
    background-color: #37393d;
    font-weight: 700;
  }
  header.c_header .search_main > form > button {
    height: 50px;
    width: 2rem;
    background-color: #37393d;
    border-radius: 0 2rem 2rem 0;
    margin: 0;
    padding-right: 2rem;
  }
  header.c_header .search_main > form svg {
    margin: 0;
    padding: 0;
    height: 1rem;
    width: 1rem;
    fill: #727375;
    background-color: #37393d;
  }
}

/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header.c_header {
    padding: 0 5.625rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) {
  header.c_header {
    min-height: 4.68rem;
    background-color: #212328;
    color: #fff;
  }
  header.c_header .main_nav--link {
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=style.css.map */