@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700&display=swap");

$inputBg: rgba(55, 57, 61, 1);
$inputPlaceholderColor: rgba(172, 172, 172, 1);
$red: rgba(233, 76, 93, 1);
$navBorder: rgba(44, 45, 50, 1);
$navBg: #212328;

input,
input[type="search"] {
    background-color: $inputBg;
    border: none;
    outline: none;
    padding: 1rem;
    font-weight: bold;
    color: $inputPlaceholderColor;
}

body {
    font-family: "Catamaran", sans-serif;
    font-size: 16px;
}

@media (max-width: 750px) {
    body {
        position: relative;
        background-color: #777;
    }

    .main-header {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .main-nav {
        display: none;
    }

    .main-logo {
        display: none;
    }

    .mobile-main-nav {
        background-color: $navBg;
        display: flex;
        justify-content: space-around;
        height: 5rem;
        align-items: center;
        position: relative;
    }

    .mobile-main-nav--item {
        // outline: 1px dashed green;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-main-nav--link {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-main-nav--link > span {
        // outline: 1px dashed red;
        position: absolute;
        top: -1rem;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        background-color: #fff;
        color: #000;
        border-radius: 2rem;
    }
}

@media (min-width: 751px) {
    .main-header {
        background-color: $navBg;
        height: 5rem;
        line-height: 5rem;
    }

    .mobile-main-nav-wrapper {
        display: none;
    }

    .main-nav-wrapper {
        display: flex;
        align-items: center;
        padding-left: 3rem;
    }

    .main-nav {
        display: flex;
    }

    .main-nav--link {
        color: #fff;
        padding: 0 1rem;
        font-weight: bold;
        text-decoration: none;

        & > span {
            padding-left: 0.2rem;
        }
    }
    .main-logo {
        content: url("https://eduweb.pl/assets/eduweb-min.svg");
        max-height: 3rem;
        padding-right: 2rem;
    }
}

@media (min-width: 1500px) {
    body {
        background-color: red;
    }
    .main-logo {
        content: url("https://eduweb.pl/assets/eduweb.svg");
        height: 5rem;
    }
}
