@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700&display=swap");

body {
    font-family: "Catamaran", sans-serif;
    font-size: 16px;
}

@media (max-width: 750px) {
    #header {
        background-color: red;
        display: none;
    }

    .mobile-menu {
        background-color: #212328;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 5rem;

        li {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // outline: 1px solid red;
            position: relative;

            &:last-child {
                // outline: 1px dotted blue;
            }

            a {
                // outline: 1px solid yellow;
                display: flex;
                flex-direction: column;
                align-items: center;

                text-transform: uppercase;
                color: white;
                text-decoration: none;

                img {
                    width: 2rem;
                    height: 2rem;
                }

                & > p {
                    // display: none;
                    opacity: 0;
                    margin-bottom: -1rem;
                    // overflow: hidden;
                }

                &:hover > p {
                    display: block;
                    padding-top: 0.5rem;
                    transition: all 0.3s ease-in-out;
                    opacity: 1;
                }

                & > span {
                    display: block;
                    width: 4rem;
                    height: 4rem;
                    color: #212328;
                    position: absolute;
                    top: -0.5rem;
                    line-height: 4.2rem;
                    text-align: center;
                    // text-decoration: underline;
                    background-color: #fff;
                    // outline: 1px dashed red;
                    border-radius: 4rem;
                    font-weight: bold;
                }

                & > span::after {
                    content: "";
                    border: 1px solid #212328;
                    display: block;
                    margin: -1.5rem;
                    width: 50%;
                    margin-left: 1rem;
                }
            }
        }
    }
}

@media (min-width: 751px) {
    #header {
        display: flex;
        // justify-content: center;
        align-items: center;
        height: 75px;
        background-color: #212328;
        color: #fff;
        // line-height: 75px;
        padding-left: 5rem;

        .main-nav {
            display: flex;
            list-style-type: none;

            li {
                &:first-child {
                    margin-left: 4rem;
                }
                color: #fff;
                // outline: 1px dashed red;
                margin: 0 1rem;

                a:link,
                a:visited {
                    color: #fff;
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }

        #logo {
            width: 8rem;
        }

        img {
            display: flex;
            align-items: center;
        }
    }
    .mobile-menu {
        display: none;
    }

    .progress-mobile {
        margin: 2rem;
    }
}
