$color-header-bg: #212328;
$color-font-white: #fff;

$nav-height--md: 3.75rem;
$nav-height--lg: 4.68rem;
$nav-padding--item: 2rem;

$font_size--default: 1rem; /*11.2px*/
$font_size--1: 0.7rem; /*11.2px*/
$font_size--2: 0.8rem; /*12.8px*/
$font_size--3: 0.9rem; /*14.4px*/
$font_size--4: 1.1rem; /*17,6px*/
$font_size--5: 1.2rem; /*19,2px*/
$font_size--6: 1.3rem; /*20.8px*/

$input_bg: #37393d;
